*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.obj/

*.dll
*.pdb
*.cache

.BookTouristRoutes.Api/bin/
.BookTouristRoutes.Api/obj/

.BookTouristRoutes.BLL/bin/
.BookTouristRoutes.BLL/obj/

.BookTouristRoutes.Common/bin/
.BookTouristRoutes.Common/obj/

.BookTouristRoutes.DAL/bin/
.BookTouristRoutes.DAL/obj/

BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.Api.pdb
BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.Api.pdb
BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.Common.pdb
BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.Common.dll
BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.DAL.dll
BookTouristRoutes.Api/bin/Debug/net7.0/BookTouristRoutes.DAL.pdb
BookTouristRoutes.Api/obj/rider.project.restore.info
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.assets.cache
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.csproj.AssemblyReference.cache
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.csproj.CoreCompileInputs.cache
.gitignore
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.dll
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.GeneratedMSBuildEditorConfig.editorconfig
BookTouristRoutes.Api/obj/Debug/net7.0/BookTouristRoutes.Api.pdb
BookTouristRoutes.Api/obj/Debug/net7.0/ref/BookTouristRoutes.Api.dll
BookTouristRoutes.Api/obj/Debug/net7.0/refint/BookTouristRoutes.Api.dll
BookTouristRoutes.BLL/bin/Debug/net7.0/BookTouristRoutes.BLL.dll
BookTouristRoutes.BLL/bin/Debug/net7.0/BookTouristRoutes.BLL.pdb
BookTouristRoutes.BLL/obj/rider.project.restore.info
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.csproj.AssemblyReference.cache
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.assets.cache
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.csproj.CoreCompileInputs.cache
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.dll
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.GeneratedMSBuildEditorConfig.editorconfig
BookTouristRoutes.BLL/obj/Debug/net7.0/BookTouristRoutes.BLL.pdb
BookTouristRoutes.BLL/obj/Debug/net7.0/ref/BookTouristRoutes.BLL.dll
BookTouristRoutes.BLL/obj/Debug/net7.0/refint/BookTouristRoutes.BLL.dll
BookTouristRoutes.Common/bin/Debug/net7.0/BookTouristRoutes.Common.dll
BookTouristRoutes.Common/bin/Debug/net7.0/BookTouristRoutes.Common.pdb
BookTouristRoutes.DAL/obj/Debug/net7.0/ref/BookTouristRoutes.DAL.dll
BookTouristRoutes.DAL/obj/Debug/net7.0/refint/BookTouristRoutes.DAL.dll
BookTouristRoutes.DAL/obj/Debug/net7.0/BookTouristRoutes.DAL.pdb
BookTouristRoutes.DAL/obj/Debug/net7.0/BookTouristRoutes.DAL.GeneratedMSBuildEditorConfig.editorconfig
BookTouristRoutes.DAL/obj/Debug/net7.0/BookTouristRoutes.DAL.dll
BookTouristRoutes.DAL/obj/Debug/net7.0/BookTouristRoutes.DAL.csproj.AssemblyReference.cache
BookTouristRoutes.DAL/obj/Debug/net7.0/BookTouristRoutes.DAL.assets.cache
BookTouristRoutes.DAL/obj/rider.project.restore.info
BookTouristRoutes.DAL/bin/Debug/net7.0/BookTouristRoutes.DAL.pdb
BookTouristRoutes.DAL/bin/Debug/net7.0/BookTouristRoutes.DAL.dll
BookTouristRoutes.DAL/bin/Debug/net7.0/BookTouristRoutes.Common.pdb
BookTouristRoutes.DAL/bin/Debug/net7.0/BookTouristRoutes.Common.dll
BookTouristRoutes.Common/obj/Debug/net7.0/refint/BookTouristRoutes.Common.dll
BookTouristRoutes.Common/obj/Debug/net7.0/ref/BookTouristRoutes.Common.dll
BookTouristRoutes.Common/obj/Debug/net7.0/BookTouristRoutes.Common.pdb
BookTouristRoutes.Common/obj/Debug/net7.0/BookTouristRoutes.Common.GeneratedMSBuildEditorConfig.editorconfig
BookTouristRoutes.Common/obj/Debug/net7.0/BookTouristRoutes.Common.dll
BookTouristRoutes.Common/obj/Debug/net7.0/BookTouristRoutes.Common.csproj.CoreCompileInputs.cache
BookTouristRoutes.Common/obj/Debug/net7.0/BookTouristRoutes.Common.assets.cache
BookTouristRoutes.Common/obj/rider.project.restore.info
